arrow
babel
gymnasium
jedi
Jinja2
joblib
json5
keras
kiwisolver
matplotlib
numpy
optree
pandas
pillow
protobuf
pygame
Pygments
pyparsing
python-dotenv
PyYAML
rsa
scikit-learn
scipy
seaborn
sympy
tensorboard
tensorflow
termcolor
torch
tqdm
tzdata
webcolors
webencodings
websocket-client
Werkzeug
jupyterlab
